/* ==========================================================
   BASE.CSS
   CONFIGURACIÓN GLOBAL
========================================================== */

/* Box Model */

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Scroll suave */

html {
    scroll-behavior: smooth;
}

/* Body */

body {
    margin: 0;
    padding: 0;

    font-family: var(--font-primary);
    font-size: var(--fs-base);
    font-weight: var(--font-regular);
    line-height: 1.6;

    color: var(--color-text);
    background-color: var(--color-background);

    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

/* Imágenes */

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* Videos */

video {
    display: block;
    max-width: 100%;
}

/* Iframes */

iframe {
    border: 0;
}

/* Botones */

button {
    border: none;
    background: none;
    font: inherit;
}

/* Inputs */

input,
textarea,
select {
    font: inherit;
}

/* Enlaces */

a {
    color: inherit;
    text-decoration: none;

    transition: var(--transition-default);
}

/* Listas */

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Párrafos */

p {
    margin: 0;
}

/* Títulos */

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: var(--font-bold);
    line-height: 1.2;
}

/* Secciones */

section {
    padding: var(--space-4xl) 0;
}